<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <title>Play King</title>
    <link rel="shortcut icon" href="/public/king-card.png" type="image/png">

    <style type="text/css">
        .winner {
            background-color: lawngreen;
        }
        .loser {
            background-color: tomato;
        }
        .winHeader {
            text-align: center;
            margin-bottom: 10px;
        }
        .winnerName {
            text-align: center;
            font-weight: 700;
            font-size: x-large;
        }
        .nameHolder {
            padding:20px
        }
        .nameHolder p > span {
            display: inline-block;
            width: 50%;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
        .nameHolder > p > div {
            vertical-align: middle;
        }
    </style>

    <script src="https://kit.fontawesome.com/2cc46be90a.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </head>
  <body>
    <div id="app">
        <b-button id="yb" variant="primary" @click="$bvModal.show('newStartWarning')" style="margin: 1em 0 1em 1em;">
          <i class="fas fa-redo-alt" ></i>
          Yeniden Basla
        </b-button>


        <div style="display: grid; justify-content: center;" class="mb-3">
          <b-button v-b-toggle.collapse-1 variant="light" style="width: 150px;">
            Kalan Oyunlar
          </b-button>
          <b-collapse id="collapse-1" class="mt-2">
            <div style="width: 150px;">
              <div v-for="(g, i) in games">
                <div
                  v-if="g.remainingCount > 0"
                  class="mb-1"
                  :style="{display: 'flex', justifyContent: 'space-between', borderBottom: i < games.length - 1 ? 'solid 1px #ddd' : null}"
                >
                  <span>{{g.name}}</span> <span>{{g.remainingCount}}</span>
                </div>
              </div>
            </div>
          </b-collapse>
        </div>

        <b-container>
            <b-row>
                <b-col lg="6" offset-sm="3">
                    <div>
                      <b-table-simple bordered hover small responsive>
                        <b-thead head-variant="dark">
                          <b-tr>
                            <b-th>Oyuncular</b-th>
                            <b-th>Cezalar</b-th>
                            <b-th>Kozlar</b-th>
                            <b-th>Puan</b-th>
                          </b-tr>
                        </b-thead>
                        <b-tbody>
                          <b-tr v-for="p in players" :class="isOver && p.isWinner ? 'winner' : isOver ? 'loser' : ''">
                            <b-td rowspan="1">
                              <span v-html="isActive(p.active)"></span>
                              {{shorten(p.name, 18)}}
                            </b-td>
                            <b-td>
                              <span v-for="i in p.remainingPunishGames" class="mr-1">
                                <i class="fa fa-square" aria-hidden="true" style="font-size: 11px; color: lightcoral;"></i>
                              </span>
                            </b-td>
                            <b-td>
                              <span v-for="i in p.remainingTrumpGames" class="mr-1">
                                <i class="fa fa-square" aria-hidden="true" style="font-size: 11px; color: lightgreen;"></i>
                              </span>
                            </b-td>
                            <b-td style="font-weight: bold;">{{p.points}}</b-td>
                          </b-tr>
                        </b-tbody>
                        <b-tfoot>
                          <b-tr>
                            <b-td colspan="7" variant="secondary" class="text-right">
                              Kalan Oyun: {{remainingGameCount}}
                            </b-td>
                          </b-tr>
                        </b-tfoot>
                      </b-table-simple>
                    </div>
                </b-col>
            </b-row>

            <div style="display: flex; justify-content: center;" class="mt-4 mb-3">
              <b-button id="add" variant="success" @click="showNewGameModal" :disabled="isOver">
                <i class="fas fa-plus"></i>
                Oyun Ekle
              </b-button>
            </div>

            <b-row v-if="playedGames.length">
                <b-col lg="8" offset-sm="2">
                    <div>
                      <b-table-simple bordered striped small hover responsive>
                        <b-thead head-variant="dark">
                          <b-tr>
                            <b-th>Sıra</b-th>
                            <b-th>Oyun</b-th>
                            <b-th v-for="p in players">
                              {{shorten(p.name, 14)}}
                            </b-th>
                            <b-th>Eylemler</b-th>
                          </b-tr>
                        </b-thead>
                        <b-tbody>
                          <b-tr v-for="(pg, i) in playedGames">
                            <b-th>{{i+1}}</b-th>
                            <b-th>{{gamesObj[pg.gameId].name}}</b-th>
                            <b-td v-for="idx in [0, 1, 2, 3]">
                              {{(pg.gameId === 'koz' && pg[idx] > 0 ? '+' : '') + pg[idx] * gamesObj[pg.gameId].damage}}
                            </b-td>
                            <b-td>
                                <b-button-group size="sm">
                                    <b-button :id="'edt'+i" variant="warning" @click="showEditGameModal(i)" :disabled="isOver"><i class="fas fa-pencil-alt"></i></b-button>
                                    <b-tooltip :target="'edt'+i" triggers="hover" placement="left">Düzenle</b-tooltip>
                                    <b-button id="del" v-if="i === playedGames.length - 1" variant="danger" @click="$bvModal.show('deleteGameWarning')" :disabled="isOver"><i class="fas fa-trash-alt"></i></b-button>
                                    <b-tooltip target="del" triggers="hover" placement="right">Sil</b-tooltip>
                                </b-button-group>
                            </b-td>
                          </b-tr>
                        </b-tbody>
                      </b-table-simple>
                    </div>
                </b-col>
            </b-row>
        </b-container>

        <b-modal id="newStartWarning" ref="newStartWarning" title="Dikkat!" cancel-title="İptal" @ok="handleNewStartWarning">
            <p>Oyun bilgileri sıfırlanacak. Emin misiniz?</p>
        </b-modal>

        <b-modal id="newPlayers" ref="newPlayers" no-close-on-backdrop ok-only @ok="handleNewPlayers">
            <template v-slot:modal-header>
                <h3>Oyuncular</h3>
            </template>

            <template v-slot:default="{}">
                <form ref="newPlayersForm" @submit.stop.prevent="handleSubmit">
                    <b-form-group label="Ad" label-for="name-input" invalid-feedback="Name is required" v-for="(p, i) in players">
                        <b-form-input id="name-input" v-model="p.name" required />
                    </b-form-group>
                </form>
            </template>
        </b-modal>

        <b-modal id="newGame" ref="newGame" title="Yeni Oyun" @ok="handleNewGame">
            <form ref="newGameForm">
                <b-form-select v-model="selectedGame" :options="remainingGames" v-on:change="selectNewGame" required>
                    <template v-slot:first>
                        <option :value="null" disabled>-- Oyun Seç --</option>
                    </template>
                </b-form-select>

                <div class="nameHolder">
                    <p v-for="i in [0,1,2,3]">
                        <span>{{shorten(players[i].name, 14)}}: </span>
                        <b-button-group>
                          <b-button @click="togglePoints(i, -1)">-</b-button>
                          <b-button disabled>{{newGame[i]}}</b-button>
                          <b-button @click="togglePoints(i)">+</b-button>
                        </b-button-group>
                    </p>
                </div>
            </form>
        </b-modal>

        <b-modal id="editGame" ref="editGame" title="Oyunu Düzenle" @ok="handleEditGame">
            <form ref="editGameForm">
                <p style="text-align: center;border: solid 1px #777;">{{editGame.gameName}}</p>

                <div v-for="i in [0,1,2,3]" style="margin-top: 1em;">
                    <p style="text-align: center;">
                        <span>{{players[i].name}}: </span>
                        <b-button-group>
                          <b-button @click="togglePoints(i, -1, true)">-</b-button>
                          <b-button disabled>{{editGame[i]}}</b-button>
                          <b-button @click="togglePoints(i, 1, true)">+</b-button>
                        </b-button-group>
                    </p>
                </div>
            </form>
        </b-modal>

        <b-modal id="deleteGameWarning" ref="deleteGameWarning" title="Dikkat!" @ok="deleteGame">
            <p>Oyun silinecek. Emin misiniz?</p>
        </b-modal>

        <b-modal id="winnersModal" ref="winnersModal" title="Oyun bitti!" ok-only>
            <div v-if="onlyWinner.wins">
                <p class="winHeader">TEBRİKLER</p>
                <p class="winnerName">{{onlyWinner.name}}</p>
            </div>
            <div v-else>
                <p class="winHeader">Oyunun kazananları:</p>
                <p class="winnerName" v-for="p in players"><span v-if="p.points >= 0">{{p.name}}</span></p>
            </div>
        </b-modal>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./main.js"></script>
  </body>
</html>
